body {
    background-color: #cbcbc7;
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  
  border-radius: 2px;
  box-shadow: 5px 6px 15px 3px rgba(0, 0, 0, 0.53);
  overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  background: #d36;
  color: rgba(252, 252, 252, 0.74);
  font-family: sans-serif;
    
}

.center {
  position: absolute;
  top: 49.5%;
  left: 15%;
  right: 0;
  margin-top: -22.5px;
}

.carousel {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  height: 45px;
    letter-spacing: 3px;
    font-weight: 300;
}
.carousel .pre {
  position: absolute;
  top: 0;
  right: 50%;
    transform: translateX(-50%);
  height: 45px;
  text-shadow: 2px 2px 2px #333;
}
.carousel .change_outer {
  position: absolute;
  top: 0;
  left: 50%;
    transform: translateX(-38%);
  text-align: left;
  height: 45px;
  overflow: hidden;
    
}

.carousel .change_outer .change_inner {
  position: relative;
  -webkit-animation: rotate 10s ease-in-out infinite;
          animation: rotate 10s ease-in-out infinite;
}
.carousel .change_outer .element {
  display: block;
  font-weight: 400;
  text-shadow: 2px 2px 2px #333;
        transform: translate3d(0,0,0);

}
        
    

@keyframes rotate {
  0%, 15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20%, 35% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  40%, 55% {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  60%, 75% {
    -webkit-transform: translateY(-135px);
            transform: translateY(-135px);
  }
  80%, 95% {
    -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
  }
  100% {
    -webkit-transform: translateY(-225px);
            transform: translateY(-225px);
  }
}